

._swiper-component{
    padding: 10px;
}

.name-movies-netflix-h1{
    color: white;
    margin-bottom: 5px;
    margin-left: 15px;
}

// Netflix movie img
.netflix-movies-img{
    padding: 0px;
    max-width: 100%;
    margin: 0px;
    border-radius: 20px;
    transform: scale(1);
}




